# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.app\controllers\__pycache__
.app\database\__pycache__
.app\views\__pycache__

# Database files
*.db
*.db-shm
*.db-wal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log